/**
 * Main layout css file.
 */

/* ================ Landing Page ================= */
body {
    background-color: #eee;
}
header.welcome {
    min-height: 70vh;
    background-color: #333;
    background-image: url('../imgs/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 50px;
    font-family: 'Leckerli One', cursive;
}

@media only screen and (min-width: 768px) {
    .logo {
        font-size: 60px;
        font-family: 'Leckerli One', cursive;
    }
}


header.welcome h3 {
    padding: 20px;
    background-color: rgba(0, 80, 80, 0.7);
}

.welcome .bt {
    font-size: 20px;
}

.patterns {
    background-image: url('../imgs/food.png');
}

.menu img {
    width: 70%;
    margin: auto;
}


.menu .menu-item {
    border: 2px dashed #008080;
}

footer {
    margin-top: 40px;
    min-height: 250px;
}

footer p {
    color: white;
    width: 100%;
    margin: auto;
    background-color: rgba(0,80, 80, .4);
}

/* tablet designs to override mobile */
@media only screen and (min-width: 600px) {
    header.welcome {
        padding-top: 2vh;
    }
    header.welcome h3 {
        margin-top: 7vh;
    }
    .welcome .bt {
        margin: 15px; 
    }

    /* fix floating issue */
    .menu .menu-item {
        height: 400px;
    }
    footer p {
        width: 60%;
    }
}

/* desktop designs to override tablet */
@media only screen and (min-width: 768px) {
    header.welcome {
        padding-top: 3.5vh;
    }
    .welcome .bt {
        margin: 20px; 
    }
    /* fix floating issue */
    .menu .menu-item {
        height: initial;
    }
    footer p {
        width: 40%;
    }
}

/* ================ Login && Sign Up Page ================= */
.login .logo, .sign-up .logo {
    padding: 10px;
    font-size: 35px;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 80, 80, 0.5);
}


.form-login .bt {
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 50%;
}

/* tablet designs to override mobile */
@media only screen and (min-width: 600px) {
    .login .logo {
        margin-top: 7vh;
    }

    .sign-up .logo  {
        margin-top: 3vh;
    }
}

/* desktop designs to override tablet */
@media only screen and (min-width: 768px) {
    .login .logo {
        margin-top: 15vh;
    }

    .sign-up .logo {
        margin-top: 8vh;
    }
}

/* ===================== Logged In Page Design ===================== */
/* contains navigation */
.controls {
    height: 100vh;
    min-height: 790px;
    background-color: #eee;
}
.controls.sidebar {
    position: fixed;
}

/* will show when in mobile */
.controls-icon {
    width: 40px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

/* this modal has navigation for mobile*/
#controls-modal .modal-content {
    padding: 0px;
}

#controls-modal .close {
    color: white;
    font-size: 35px;
    padding-right: 20px;
    padding-top: 10px;
}

.controls .logo {
    font-size: 35px;
    text-align: center;
}

.controls hr {
    width: 60%; 
    display: block; 
    border-top: 2px solid #ddd; 
}

.controls hr.last {
    margin-top: 3vh;
}

.controls .bt {
    width: 75%;
    margin: auto;
    display: block;
    font-size: 16px;
    margin-top: 5vh;
    background-color: #f5ee9e;
}

.controls .bt:hover,
.controls .bt.active {
    background-color: orange;
    border-color: orange;
}

/* first button should have margin */
.controls .bt:first-of-type { 
    margin-top: 50px;
}

.controls .bt-logout {
    font-size: 18px;
    color: white;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.controls .bt-logout:hover {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

/* this is the main content */
.content {
    background-color: #eee;
    height: 100vh;
}

.content h5 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .content h5  {
        text-align: left;
    }
}

.content table img {
    display: block;
    margin: auto;
    max-height: 90px;
}

.table-control {
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
}
.table-control,
.table-control input,
.table-control label {
    display: inline-block;
    margin-top: 0;
}

.table-control select,
.table-control input[type="date"],
.table-control input[type="text"] {
    width: 90%;
    margin-bottom: 0;
}

.table-control .bt {
    border-width: 2px;
}

/* search width for tablet */
@media only screen and (min-width: 600px) {
    .content #search {
        width: 70%;
    }
}

/* search width for desktop */
@media only screen and (min-width: 768px) {
    .content #search {
        width: 30%;
    }
}

/* deletion to have read for warning */
.delete-act, .revoke-act, .revoked-state {
    color: #cc0000;
}


/* ================  Manage Meals && Set Menu =============*/
/* size of image in adding of meal */
#add-modal img,
#edit-modal img,
#delete-modal img {
    width: 65%;
    margin-bottom: 20px;
}

/* ================  Manage Orders  ======================*/
#order-table td {
    padding: 10px;
}



/* ================== Customer Home ================ */
.content .menu:last-of-type {
    margin-bottom: 100px;
}

.content .menu h5 {
    text-align: center;
}

/* fix floating columns displaced issue */
@media only screen and (min-width: 600px) {
    .content .menu .menu-item {
        height: 300px;
    }
}

/* revert to initial height on desktop */
@media only screen and (min-width: 768px) {
    .content .menu .menu-item {
        height: initial;
    }
}


/* ======================= User Notifications Page ======================*/

.notice {
    text-align: center;
    border: 2px dashed #2d728f;
    min-height: 140px;
}
.notice p {
    padding-right: 10px;
    padding-left: 10px;
}

.notice .close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 10px;
}
